<!DOCTYPE html>
<html>
<body>

{% block content %}
  <h1>Post List views</h1>
  {% if post_list %}
  <ul>
    {% for post in post_list %}
      <li>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>({{post.owner}})
        {% if post.like_set.filter(user=request.user) %}
          <button name="like_click" id="like_click_{{post.id}}">Liked {{post.like_set.all.count}}</button>
        <!-- <input type="button" name="like_click" id="like_click_{{post.id}}" value='Like' onclick="if(this.value=='Like') { this.value='Dislike'; } else { this.value='Like'; }"/> -->
        {% endif %}
        {% else %}
        <button name="like_click" id="like_click_{{post.id}}">Like {{post.like_set.all.count}}</button>
        {%e endelse%}
      </li>
     
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no posts in the library.</p>
  {% endif %}       
{% endblock %}
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.0/axios.js"></script>
<script>
  $('button[id^="like_click"]').click(e => {
    let id = e.target.id.split("_")[2];
    alert(id);
    let body = {
      post_id: id
    } 
    location.reload();
    axios({
      method: 'post',
      url: '/loggedin/post/like/' + id,
      data: body
    }).then(response => {
      console.log(response);
    }).catch(e => {
      console.log(e);
    });
   
  });
</script>

<html>